a,hr{border:0;padding:0}a,body,html{background:0 0}.logo,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,hr,menu,nav,section,summary{display:block}.bg,.tip{position:absolute}abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0 0}ins,mark{background-color:#ff9;color:#000}body{line-height:1}:focus{outline:1}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a{margin:0;font-size:100%;vertical-align:baseline}ins{text-decoration:none}mark{font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{height:1px;border-top:1px solid #ccc;margin:1em 0}input,select{vertical-align:middle}::selection{background:#2E86C1;color:#fff}::-moz-selection{background:#2E86C1;color:#fff}::-webkit-selection{background:#2E86C1;color:#fff}body,html{height:100%;overflow-y:auto;font-family:"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif}

body {
    background-color: #fff;
}
.bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -9;
    background: #161b24;
}
.header {
    height: 80px;
    background: #181D27;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.header .wrap {
    width: 1000px;
    margin: 0 auto;
}
.header h1 {
    height: 0;
    text-indent: -9999em;
}
.header h2 {
    font-size: 40px;
    color: #fff;
    font-family: 'Bangers', cursive;
    height: 40px;
    margin-top: 20px;
    opacity: 0.6;
    font-weight: bold;
    text-shadow: -5px 3px 3px #000;
}
.header h2 a {
    color: #fff;
    text-decoration: none;
}

.nav {
    width: 1000px;
    margin: 370px auto 0;
    font-size: 50px;
    text-align: center;
}
.nav li {
    display: inline-block;
    margin: 0 10px;
}
.nav a {
    color: #ccc;
    text-decoration: none;
    font-weight: bold;
}
.nav a:hover {
    color: #bbb;
}

.descrition {
    display: none;
    color: #fff;
    font-size: 14px;
    width: 1000px;
    margin: 20px auto 0;
}

.title {
    position: absolute;
    top: 306px;
    left: 50%;
    color: #fff;
    font-size: 140px;
    text-align: center;
    opacity: 0.03;
    font-weight: bold;
    margin-left: -200px;
}
.title span {
    text-shadow: -13px 10px 10px #000;
}
.title span:nth-child(2),
.title span:nth-child(3) {
    margin-left: -60px;
}
#footer {
    color: #aaa;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    opacity: 0.2;
    font-size: 12px;
}
#footer p {
    margin-bottom: 10px;
}
#footer a {
    color: #aaa;
}


/*---*/

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }

  to {
    opacity: 0.03;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}

.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}